html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1.125rem;
  line-height: 1.3;
  font-family: "Public Sans", sans-serif;
  color: #9698a6;
}
body.noscroll {
  overflow: hidden;
}

a,
a:visited,
a:hover {
  text-decoration: none;
  color: #9698a6;
}

h1,
h2,
h3 {
  margin-top: 0;
  line-height: 1.15;
  font-weight: 400;
  color: #2d314d;
}

h1 {
  margin-bottom: 24px;
  font-size: 30px;
}
@media (min-width: 1024px) {
  h1 {
    font-size: 3.25rem;
  }
}

h2 {
  margin-bottom: 25px;
  font-size: 24px;
}
@media (min-width: 1024px) {
  h2 {
    font-size: 36px;
    margin-bottom: 36px;
  }
}

p {
  margin-bottom: 36px;
  font-size: 0.875rem;
  line-height: 1.5;
}
@media (min-width: 1024px) {
  p {
    font-size: 1.125rem;
  }
}

.flex {
  display: flex;
}
.flex-jc-sb {
  justify-content: space-between;
}
.flex-jc-c {
  justify-content: center;
}
.flex-ai-c {
  align-items: center;
}

button,
.button {
  display: inline-block;
  padding: 12px 30px;
  border-radius: 30px;
  border: 0;
  cursor: pointer;
  background: linear-gradient(to right, #31d35c, #2bb7da);
  outline: none;
  color: white;
  font-weight: 700;
  font-family: inherit;
  font-size: 0.875rem;
  transition: opacity 150ms ease-in-out;
}
button:hover,
.button:hover {
  opacity: 0.75;
  color: #ffffff;
}

@media (max-width: 1023px) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 1024px) {
  .hide-for-desktop {
    display: none;
  }
}

.container {
  max-width: 1113px;
  margin: 0 auto;
}
.container--pall {
  padding: 70px 24px;
}
@media (min-width: 1024px) {
  .container--pall {
    padding: 96px 24px;
  }
}
.container--px {
  padding-left: 24px;
  padding-right: 24px;
}
.container--py {
  padding-top: 70px;
  padding-bottom: 70px;
}
@media (min-width: 1024px) {
  .container--py {
    padding-top: 96px;
    padding-bottom: 96px;
  }
}
.container--pt {
  padding-top: 70px;
}
@media (min-width: 1024px) {
  .container--pt {
    padding-top: 96px;
  }
}
.container--pr {
  padding-right: 24px;
}
.container--pb {
  padding-bottom: 70px;
}
@media (min-width: 1024px) {
  .container--pb {
    padding-bottom: 96px;
  }
}
.container--pl {
  padding-left: 24px;
}

.has-fade {
  visibility: hidden;
}

@keyframes fade-in {
  from {
    opacity: 0;
    visibility: hidden;
  }
  1% {
    opacity: 0;
    visibility: visible;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}
.fade-in {
  animation: fade-in 200ms ease-in-out forwards;
}

@keyframes fade-out {
  from {
    opacity: 1;
    visibility: visible;
  }
  99% {
    opacity: 0;
    visibility: visible;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}
.fade-out {
  animation: fade-out 200ms ease-in-out forwards;
}

.header nav {
  padding: 20px 24px;
}
.header.open .overlay {
  animation: fade-in 200ms ease-in-out forwards;
}
.header.open .header__toggle > span:first-child {
  transform: rotate(45deg);
}
.header.open .header__toggle > span:nth-child(2) {
  opacity: 0;
}
.header.open .header__toggle > span:last-child {
  transform: rotate(-45deg);
}
.header .overlay {
  position: fixed;
  top: 60px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-image: linear-gradient(#2d314d, transparent);
  z-index: 2;
}
.header__toggle > span {
  display: block;
  width: 26px;
  height: 2px;
  background-color: #2d314d;
  transition: all 150ms ease-in-out;
  transform-origin: 3px 1px;
}
.header__toggle > span:not(:last-child) {
  margin-bottom: 5px;
}
.header__links a {
  position: relative;
  font-size: 0.875rem;
  transition: color 150ms ease-in-out;
}
.header__links a:not(:last-child) {
  margin-right: 32px;
}
.header__links a::before {
  content: "";
  position: absolute;
  width: 100%;
  display: block;
  height: 5px;
  background: linear-gradient(to right, #31d35c, #2bb7da);
  opacity: 0;
  left: 0;
  right: 0;
  bottom: -30px;
  transition: opacity 150ms ease-in-out;
  pointer-events: none;
}
.header__links a:hover {
  color: #2d314d;
}
.header__links a:hover::before {
  opacity: 1;
}
.header__menu {
  position: absolute;
  width: calc(100% - 24px * 2);
  left: 50%;
  transform: translateX(-50%);
  margin-top: 24px;
  padding: 18px 0px;
  background-color: #ffffff;
  border-radius: 5px;
  z-index: 3;
}
.header__menu a {
  display: block;
  text-align: center;
  padding: 10px;
  color: #2d314d;
}

.hero {
  background-color: #fafafa;
}
@media (min-width: 1024px) {
  .hero .container {
    display: flex;
    align-items: center;
  }
}
.hero__image {
  position: relative;
  min-height: 280px;
  background-image: url("/images/bg-intro-mobile.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
@media (min-width: 640px) {
  .hero__image {
    min-height: 400px;
    background-position: center 67%;
  }
}
@media (min-width: 1024px) {
  .hero__image {
    flex: 3;
    order: 2;
    min-height: 655px;
    background-image: none;
  }
}
.hero__image::before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  background-image: none;
}
@media (min-width: 1024px) {
  .hero__image::before {
    background-image: url("/images/bg-intro-desktop.svg");
    background-repeat: no-repeat;
    opacity: 1;
    width: 150%;
    background-size: 116%;
    background-position: 0% 90%;
  }
}
.hero__image::after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  background-image: url("/images/image-mockups.png");
  background-size: 93%;
  background-repeat: no-repeat;
  background-position: center bottom;
}
@media (min-width: 640px) {
  .hero__image::after {
    background-size: 52%;
  }
}
@media (min-width: 1024px) {
  .hero__image::after {
    width: 120%;
    height: 122%;
    background-size: 94%;
    background-position: center 150%;
    left: 22%;
  }
}
.hero__text {
  text-align: center;
}
@media (min-width: 1024px) {
  .hero__text {
    flex: 2;
    order: 1;
    text-align: left;
  }
}

.features {
  background-color: #f3f4f6;
}
.features__intro {
  margin-bottom: 35px;
}
@media (min-width: 1024px) {
  .features__intro {
    width: 60%;
    margin-bottom: 60px;
  }
}
@media (min-width: 640px) {
  .features__grid {
    display: flex;
    flex-wrap: wrap;
  }
}
.features__item {
  padding: 15px;
  text-align: center;
}
@media (min-width: 640px) {
  .features__item {
    flex: 1 0 50%;
    text-align: left;
  }
}
@media (min-width: 1024px) {
  .features__item {
    flex: 1;
  }
}
.features__icon {
  margin-bottom: 25px;
}
@media (min-width: 1024px) {
  .features__icon {
    margin-bottom: 44px;
  }
}
.features__title {
  margin-bottom: 24px;
  font-size: 20px;
  color: #2d314d;
}
@media (min-width: 1024px) {
  .features__title {
    margin-bottom: 24px;
    font-size: 24px;
  }
}
.features__description {
  font-size: 0.875rem;
  line-height: 1.5;
}

/*# sourceMappingURL=style.css.map */
