@use "variables" as v;
@import "animations";

.header {
  nav {
    padding: 20px 24px;
  }

  // (Mobile) Hamburger open styles  (.header.open)
  &.open {
    .overlay {
      animation: fade-in 200ms ease-in-out forwards;
    }

    .header__toggle {
      > span:first-child {
        transform: rotate(45deg);
      }

      > span:nth-child(2) {
        opacity: 0;
      }

      > span:last-child {
        transform: rotate(-45deg);
      }
    }
  }

  // Overlay behind the modal menu in mobile mode
  .overlay {
    position: fixed;
    top: 60px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-image: linear-gradient(v.$darkBlue, transparent);
  }

  // Mobile hamburger menu icon
  &__toggle {
    // Lines for hamburger menu icon
    > span {
      display: block;
      width: 26px;
      height: 2px;
      background-color: v.$darkBlue;
      transition: all 150ms ease-in-out;
      transform-origin: 3px 1px; // For hamburger menu to cross

      // Apply this to all children expect last child
      // .header__toggle > span:not(:last-child)
      &:not(:last-child) {
        margin-bottom: 5px;
      }
    }
  }

  &__links {
    a {
      position: relative; // Since &::before uses absolute positioning
      font-size: v.$font-small;
      transition: color 150ms ease-in-out;

      &:not(:last-child) {
        margin-right: 32px;
      }

      // Green underline when hover on links
      &::before {
        content: "";
        position: absolute;
        width: 100%;
        display: block;
        height: 5px;
        background: linear-gradient(to right, v.$limeGreen, v.$brightCyan);
        opacity: 0;
        left: 0;
        right: 0;
        bottom: -30px;
        transition: opacity 150ms ease-in-out;
        pointer-events: none; // Prevent bottom bar to show up when on hover bottom of navbar
      }

      &:hover {
        color: v.$darkBlue;

        &::before {
          opacity: 1;
        }
      }
    }
  }

  // Mobile menu modal
  &__menu {
    position: absolute;
    width: calc(100% - 24px * 2);
    left: 50%; // center horizontally
    transform: translateX(-50%); // center horizontally
    margin-top: 24px;
    padding: 18px 0px;
    background-color: v.$white;
    border-radius: 5px;

    a {
      display: block;
      text-align: center;
      padding: 10px;
      color: v.$darkBlue;
    }
  }
}
